<div class="row row-cols-2">
  <div class="col">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="row row-cols-1">
        <div class="col">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" formControlName="username">
            <small
              *ngIf="form.get('username')?.errors?.isForbiddenUsername"
              class="form-text text-danger">
                Username {{ form.get('username')?.value }} is not allowed.
            </small>
          </div>
          <div formGroupName="name">
            <app-textual-input id="firstName" formControlName="first" label="First name" ngDefaultControl></app-textual-input>
            <app-textual-input id="lastName" formControlName="last" label="Last name" ngDefaultControl></app-textual-input>
          </div>
          <div formArrayName="addresses" class="mt-3">
            <h2 class="h3">Addresses</h2>
            <div *ngFor="let _ of addresses.controls; let i = index">
              <div class="d-flex align-items-center">
                <h3 class="h4">Address {{ i + 1 }}</h3>
                <button (click)="onRemoveAddress(i)" class="btn btn-outline-danger btn-sm ml-auto">remove</button>
              </div>
              <ng-container [formGroupName]="i">
                <div class="form-group">
                  <label [for]="'street' + i">Street</label>
                  <input type="text" [name]="'street' + i" [id]="'street' + i" class="form-control" formControlName="street">
                </div>
                <div class="form-group">
                  <label [for]="'city' + i">City</label>
                  <input type="text" [name]="'city' + i" [id]="'city' + i" class="form-control" formControlName="city">
                </div>
              </ng-container>
            </div>
          </div>
          <button (click)="onAddAddress()" class="btn btn-outline-primary">add address</button>
        </div>
      </div>
      <button [disabled]="!form.pristine && !form.valid" class="btn btn-primary mt-5">signup</button>
    </form>
  </div>

  <!-- Debugging -->
  <div class="col">
    <div class="row row-cols-1">
      <div class="col">
        <div class="font-weight-bold">Status:</div>
        <div>{{ form.status }}</div>
      </div>
      <div class="col mt-3">
      <div class="font-weight-bold">Value:</div>
      <div>{{ form.value | json }}</div>
      </div>
    </div>
  </div>
</div>
